@use '../base' as *;

.page--main {
  display: flex;
  flex-direction: column;
  gap: $default-card-gap;
}

.event-registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .event-registration {
    width: 80%;

    .allergies {
      text-align: center;
      border-radius: $border-radius-default;
      margin-bottom: 1px;

      input[type=text] {
        padding: 1rem 0;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .page--title h1 {
    hyphens: auto;
    font-size: $h4-size;
  }
  .metadata-item .metadata-data * {
    font-size: $text-size;
  }

  .card--metadata {
    .metadata {
      gap: 1rem;

      .metadata-item .icon {
        margin-right: 0.5rem;
      }
    }
  }

  .card--metadata .signup .floating .unregister {
    padding: 1.2rem 4rem;
  }

  .signup {
    width: 100%;

    .floating {
      margin: 2rem 0 -10rem 0;

      .container:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      .unregister {
        padding: 1.2rem 5rem;
      }
    }
  }

}

@media screen and (min-width: $breakpoint-sm) {
  .signup {
    width: 100%;

    .floating {
      margin: 2rem 0 -10rem 0;

      .container:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      .unregister {
        padding: 1.2rem 5rem;
      }
    }
  }


  .border-gray .image {
    border: $color-light-gray solid 2px;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .signup {
    width: 100%;

    .floating {
      margin: 2rem 0 -10rem 0;

      .container:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      .unregister {
        padding: 1.2rem 5rem;
      }
    }
  }


  .border-gray .image {
    border: $color-light-gray solid 2px;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .signup {
    width: 100%;

    .floating {
      margin: 2rem 0 -15rem 0;

      .container:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      .unregister {
        padding: 1.2rem 7rem;
      }
    }
  }


  .border-gray .image {
    border: $color-light-gray solid 2px;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .signup {
    width: 100%;

    .floating {
      margin: 2rem 0 -10rem 0;

      .container:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      .unregister {
        padding: 1.2rem 7rem;
      }
    }
  }

  .border-gray .image {
    border: $color-light-gray solid 2px;
  }
}

.information {
  width: 100%;
  hyphens: auto;
}