@use "../base" as *;

.event-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0;
  margin: 2rem 0;

  h1 {
    color: $color-primary;
    margin-bottom: 1rem;

    @media (max-width: 375px) {
      font-size: $h3-size;
      word-break: break-all;
    }
  }

  h3 {
    @extend .main-text-large;
    font-size: $h4-size;
  }

}

.events {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 50lvh;
  margin-bottom: 5rem;
}

.month-selectors {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  border-bottom: $color-primary solid 3px;
  margin-bottom: 2rem;

  .month-selector {
    @extend .main-text-semibold;
    font-size: $h4-size;
    text-decoration: none;
    color: $color-medium-gray;
    margin: 2rem 0 .5rem;
  }

  .active-month {
    color: $color-primary
  }
}

.open {

  & > * {
    border: $color-green solid 1px !important;

  }

  * {
    background-color: $color-green !important;

  }
}
