@use '../base' as *;

// ======================
// Layout
// ======================
.leader-container .leader {
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

@media screen and (min-width: $breakpoint-lg) {
  .leader-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .leader {
      max-width: $breakpoint-xl;
      flex-direction: row;
      gap: $default-card-gap;
      align-items: flex-start;
    }
  }
}

// ======================
// PARTNER
// ======================
.container-partner {
  width: 100%;
  padding: 2rem;
  background-color: $color-background-pale-blue;
  border-radius: $border-radius-default $border-radius-default 0 0;

  * {
    color: $color-primary;
  }

  .partner {
    display: flex;
    flex-direction: column;
    gap: $default-card-gap;

    .header {
      .title .leader-title {
        font-size: $h3-size;
        hyphens: auto;
      }

      .sub-title {
        display: none;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: $default-card-gap;

      .image {
        display: grid;
        place-content: center;
        background-color: $color-white;
        border-radius: $border-radius-round;
        aspect-ratio: 1 / 1;
        width: 100%;
        height: 100%;

        img {
          margin: auto;
          width: 85%;
        }
      }

    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .container-partner {
    width: 200%;
    background-color: $color-background-almost-white;
    margin-block: 3rem;
    padding: 0;
    padding-inline: 2rem;

    .partner {
      .header {
        display: flex;
        flex-direction: column;

        .title .leader-title {
          font-size: $h2-size;
        }

        .sub-title {
          display: initial;

          .main-text {
            font-size: $text-size-xlarge;
          }
        }
      }

      .content {
        border-radius: $border-radius-default;
        flex-direction: row;
        align-items: center;
        background-color: $color-background-pale-blue;
        padding: 2rem;

        .image {
          flex-grow: 1;
        }
      }
    }
  }
}

// ======================
// UPCOMING EVENTS
// ======================
$card-width: 70vw;

.container-upcoming-events {
  margin-block: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $default-card-gap;
  justify-content: center;
  align-items: center;

  .upcoming-event-title .leader-title {
    color: $color-primary;
  }

  .container-carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .carousel-wrapper {
      width: $card-width;
      overflow: hidden;
      display: flex;

      .carousel {
        display: flex;
        flex-direction: row;
        gap: $default-card-gap;
      }
    }
  }
}

.container-card {
  a {
    display: contents;
  }

  a, * {
    text-decoration: none;
    color: $color-text-white;
  }

  .carousel-card {
    display: grid;
    grid-template-rows: 4fr 7fr;
    overflow: hidden;
    border-radius: $border-radius-default;
    width: $card-width;
    height: 32rem;
    background-color: $color-white;


    .image {
      display: grid;
      width: 100%;
      height: 100%;
      place-content: center;

      img {
        margin: auto;
        display: inline-block;
        width: 85%;
      }
    }

    .content {
      flex: 1;
      background-color: $color-primary;
      width: 100%;
      padding-inline: 2rem;
      padding-block: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      hyphens: auto;

      .heading .header {
        font-size: $text-size-large;
      }

      .carousel-metadata {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .metadata-item {
          display: flex;
          gap: .5rem;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {
  $card-width: 300px;
  .container-upcoming-events .container-carousel .carousel-wrapper {
    width: $card-width;
  }

  .container-card .carousel-card {
    width: $card-width;

    .content .carousel-metadata {
      justify-content: space-evenly;
      flex-direction: row;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  $card-width: 350px;
  .container-upcoming-events .container-carousel .carousel-wrapper {
    width: $card-width;
  }

  .container-card .carousel-card {
    width: $card-width;
  }
}

.events-btn {
  background-color: $color-green;
  border-radius: $border-radius-default;
  padding: 1rem 3rem;
  color: $color-text-white;
  text-decoration: none;
}

// ======================
// JOB LISTINGS FEATURED
// ======================
.job-listings-featured {
  padding: 10rem 2rem;
  background: url('/assets/assets/Ns.svg') center center / cover;

  .container {
    display: flex;
    flex-direction: column;
    gap: $default-card-gap * 2;
    align-items: center;

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
      max-width: 1000px;
      gap: $default-card-gap;
      justify-items: center;

      @media screen and (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
      }
    }
  }
}

// ======================
// ABOUT NAVET
// ======================

// ======================
// THE BOARD
// ======================
.board-members-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 2rem;

  .board-members-header h1 {
    color: $color-primary;
    margin-bottom: $default-card-gap;
  }

  .board-members {
    width: 100%;
    display: grid;

    $grid-layout-gap: $default-card-gap;
    $grid-column-count: 4;
    $grid-item-min-width: 200px;

    $gap-count: $grid-column-count - 1;
    $total-gap-width: $gap-count * $grid-layout-gap;
    $grid-item-max-width: calc((100% - #{$total-gap-width}) / #{$grid-column-count});

    grid-template-columns: repeat( auto-fill, minmax(max($grid-item-min-width, #{$grid-item-max-width}), 1fr) );
    grid-gap: $grid-layout-gap;
    justify-content: flex-end;
    padding-inline: $default-card-gap;

    .board-member {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: calc($default-card-gap / 2);

      .board-member-photo {
        display: grid;
        place-content: center;
        width: 60%;

        img {
          border-radius: $border-radius-round;
          aspect-ratio: 1 / 1;
          width: 100%;
        }
      }

      .board-member-personalia {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $default-card-gap / 2;
        width: 100%;

        * {
          color: $color-primary;
        }

        h3 {
          text-align: center;
          width: 100%;
          font-size: $text-size-large;
          border-bottom: 2px solid $color-primary;
        }

        p {
          margin: 0;
        }

        a {
          margin: 0;
          color: $color-green;
          word-break: break-word;
          hyphens: manual;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .board-members-container .board-members {
    width: 90vw;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .board-members-container .board-members {
    width: 70vw;
  }
}
