@use '../base' as *;

.btn {
  all: unset;
  display: inline-block;
  border-radius: $border-radius-default;
  padding: 2rem 3rem;
  text-align: center;
  font-family: Eina01-Regular, sans-serif;
  background-color: $color-dark-gray;
  color: $color-text-white;

  &:hover {
    cursor: pointer;
  }
}

.btn--admin {
  @extend .btn;
  background-color: $color-primary;

  a {
    @extend .main-text-semibold;
    color: $color-text-white;
    text-decoration: none;
  }
}

.btn--second {
  @extend .btn;
  @extend .main-text-semibold;

  background-color: $color-background-blue;
  color: $color-text-white;
}

.btn--primary {
  @extend .btn;
  @extend .main-text-semibold;

  background-color: $color-green;
  color: $color-text-white;
}

.btn--tertiary {
  @extend .btn;

  padding: 1rem 3rem;
  border: 1px solid $color-primary;
  background-color: $color-background-almost-white;
  color: $color-blue-primary;

  &:hover {
    background-color: $color-background-contrast-light;
  }
}

.btn--select {
  padding: 1rem 3rem
}

.btn--job {
  @extend .btn;
  padding: 1rem 3rem;

  &--selected {
    background-color: $color-primary;
  }
}

.btn--sign-up {
  @extend .btn;
  width: 100%;
  padding: 1rem 0;
  margin: 0;
  background-color: $color-green;

  &:hover {
    cursor: pointer;
  }
}

.btn--carousel-navigation {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-content: center;
  aspect-ratio: 1 / 1;
  background-color: $color-primary;
  padding: 1rem;
  border-radius: $border-radius-round;

  * {
    color: $color-text-white;
  }
  
  &:hover {
    cursor: pointer;
  }
}