@use '../base' as *;

.cutout-effect {
  position: relative;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 $default-card-gap $default-card-gap;

  &::after {
    content: '';
    position: absolute;
    inset: $border-radius-round 0 0 0;
    background: $color-background-contrast;
    border-radius: $border-radius-default $border-radius-default 0 0;
    z-index: -10;
  }

  .border-gray {
    border-radius: $border-radius-round;
    border: 3px solid #E6E6E6;
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding: 0 1rem 1rem;
  }
}

.card {
  border-radius: $border-radius-default;
  background-color: $color-background-contrast;
  padding: 2rem;

  @media screen and (max-width: $breakpoint-md) {
    padding: 1.5rem;
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding: 1rem;
    border-radius: $border-radius-small;
  }

  &--main {
    background-color: $color-primary;
    padding: 4rem;

    @media screen and (max-width: $breakpoint-md) {
      padding: 2rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
      padding: 1.5rem;
    }
  }

  &--metadata {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $default-card-gap + 2rem;

    @media screen and (max-width: $breakpoint-md) {
      margin-bottom: $default-card-gap + 1rem;
    }
  }
}

.card--organizer {
  &--main {
    display: flex;
    flex-direction: column;

    .top-half .cutout-effect {
      .image-container-circle {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .image--person {
        width: 80%;
        border-radius: $border-radius-round;
        border: 1rem solid $color-background-almost-white;

        @media screen and (max-width: $breakpoint-md) {
          border-width: 0.75rem;
        }

        @media screen and (max-width: $breakpoint-sm) {
          border-width: 0.5rem;
          width: 70%;
        }
      }
    }

    .bottom-half {
      background-color: $color-background-contrast;
      border-radius: 0 0 $border-radius-default $border-radius-default;
      padding: 0 $default-card-gap $default-card-gap;

      @media screen and (max-width: $breakpoint-sm) {
        border-radius: 0 0 $border-radius-small $border-radius-small;
        padding: 0 1rem 1rem;
      }
    }

    .organizer-information {
      display: flex;
      flex-direction: column;
      align-items: center;

      .name {
        text-align: center;
        margin-bottom: 1rem;

        * {
          margin: 0;
        }
      }

      * {
        color: $color-primary;
      }

      .btn-contact {
        width: 100%;
        height: fit-content;
        text-align: center;
        margin: 0;
        padding: 0;

        a {
          display: inline-block;
          margin: 0;
          padding: .5rem 5rem;
          background-color: $color-primary;
          color: $color-text-white;
          border-radius: $border-radius-small;

          @media screen and (max-width: $breakpoint-md) {
            padding: .5rem 5rem;
          }

          @media screen and (max-width: $breakpoint-sm) {
            padding: .5rem 5rem;
          }
        }
      }
    }
  }

  &--assistant {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $default-card-gap;
    background-color: $color-background-contrast;
    border-radius: $border-radius-default;
    padding: 1rem;

    @media screen and (max-width: $breakpoint-sm) {
      border-radius: $border-radius-small;
      gap: 0.5rem;
    }

    .image-container-circle {
      width: initial;
      height: 8rem;

      .image {
        height: 100%;
      }

      @media screen and (max-width: $breakpoint-md) {
        height: 6rem;
      }

      @media screen and (max-width: $breakpoint-sm) {
        height: 5rem;
      }
    }

    .assistant-organizer-information {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;


      .name {
        h3 {
          font-size: $text-size-large;

          @media screen and (max-width: $breakpoint-sm) {
            font-size: $secondary-text-size;
            margin-bottom: 0.5rem;
          }
        }
      }

      * {
        color: $color-primary;
      }

      .btn-contact {
        height: fit-content;
        margin: 0;
        padding: 0;

        a {
          font-size: $secondary-text-size;
          display: inline-block;
          margin: 0;
          padding: .5rem 2rem;
          background-color: $color-primary;
          color: $color-text-white;
          border-radius: $border-radius-small;
        }
      }
    }
  }
}

.card--error {
  @extend .card;
  background-color: $color-red;
  margin-bottom: $default-card-gap;
  display: flex;
  justify-content: center;
  padding: 1rem;

  * {
    color: $color-text-white;
  }
}

.card--company {
  display: flex;
  flex-direction: column;

  .top-half .cutout-effect {
    @media screen and (max-width: $breakpoint-sm) {
      .image-container-circle {
        width: 80%;
      }
    }
  }

  .bottom-half {
    background-color: $color-background-contrast;
    border-radius: 0 0 $border-radius-default $border-radius-default;
    padding: 0 $default-card-gap $default-card-gap;

    @media screen and (max-width: $breakpoint-sm) {
      border-radius: 0 0 $border-radius-small $border-radius-small;
      padding: 0 1rem 1rem;
    }
  }

  .company-description * {
    color: $color-text-blue-secondary;
  }
}
