$color-blue: #30486C;
$color-red: #D54D4d;
$color-green: #008066;
$color-light-gray: #F4F4F4;
$color-white: #FFFFFF;

$color-primary: $color-blue;
$color-contrast-background: $color-light-gray;
$color-primary-background: $color-white;
$color-error: $color-red;
$color-success: $color-green;
