$color-blue-primary: #30486C;
$color-blue-secondary: #707C9A;
$color-blue-pale: #F1F3F7;
$color-red: #D54D4d;
$color-green: #008066;
$color-yellow: #D9A455;
$color-light-gray: #F4F4F4;
$color-gray: #EDEDED;
$color-medium-gray: #C4C4C4;
$color-dark-gray: #ABABAB;
$color-very-dark-gray: #333333;
$color-almost-white: #F9F9F9;
$color-white: #FFFFFF;

$color-primary: $color-blue-primary;

$color-background-contrast: $color-gray;
$color-background-contrast-light: $color-light-gray;
$color-background-contrast-medium: $color-medium-gray;
$color-background-almost-white: $color-almost-white;
$color-background-primary: $color-white;
$color-background-blue: $color-blue-secondary;
$color-background-pale-blue: $color-blue-pale;

$color-text-primary: $color-very-dark-gray;
$color-text-blue: $color-blue-primary;
$color-text-blue-secondary: $color-blue-secondary;
$color-text-white: $color-almost-white;

$color-border-primary: $color-dark-gray;

$color-error: $color-red;
$color-success: $color-green;
$color-warning: $color-yellow;
$color-information: $color-blue-secondary;
