@using Umbraco.Cms.Core.Security
@inherits UmbracoViewPage<Wasabi.ViewModels.HeaderViewModel>
@inject IMemberManager MemberManager;

@{
    IMemberManager? member = MemberManager;
}

<header class="header">
    <nav class="navbar">
        <div class="logo-container">
            <a href="/" class="logo">
                <img src="@Url.Content("/assets/Images/Logo_main.webp")" alt="IFI-Navet" class="logo-image"/>
            </a>
            <a href="/" class="nav-subtitle">
                <img src="@Url.Content("/assets/Images/Logo_text.webp")" alt="IFI-Navet" class="subtitle-image"/>
            </a>
        </div>

        <div class="desktop-nav">
            <ul>
                <li><a href="/arrangementer/">Arrangementer</a></li>
                <li><a href="/stillingsannonser/">Stillingsannonser</a></li>
                <li><a href="/for-bedrifter/">For bedrifter</a></li>
                <li><a href="/for-studenter/">For studenter</a></li>
                <li><a href="/si-ifra/">Si ifra</a></li>
                @if (!member.IsLoggedIn())
                {
                    <li><a href="/login/?redirectURL=@Model.PageUrl">Logg inn</a></li>
                }
                else
                {
                    <li class="dropdown">
                        <a href="#">Profil</a>
                        <div class="dropdown-content">
                            <a href="/profil/endre-profil/">@member.GetCurrentMemberAsync().Result!.Name</a>
                            <a href="/logout/">Logg ut</a>
                        </div>
                    </li>
                }

            </ul>
        </div>

        <button class="hamburger" id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="mobile-nav" id="mobile-nav">
            <ul>
                <li><a href="/arrangementer/">Arrangementer</a></li>
                <li><a href="/stillingsannonser/">Stillingsannonser</a></li>
                <li><a href="/for-studenter/">For studenter</a></li>
                <li><a href="/for-bedrifter/">For bedrifter</a></li>
                <li><a href="/si-ifra/">Si ifra</a></li>

                @if (!member.IsLoggedIn())
                {
                    <li><a href="/login/?redirectURL=@Model.PageUrl">Logg inn</a></li>
                }
                else
                {
                    <li><a href="/profil/endre-profil/">@member.GetCurrentMemberAsync().Result!.Name</a></li>
                    <li><a href="/logout/">Logg ut</a></li>
                }
            </ul>
        </div>
    </nav>
</header>