@import "../Settings/settings";

.primary {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main-sponsor {
  background: $color-contrast-background;
  
  h1 {
    font-family: sans-serif;
  }
}