@use '../base' as *;

html, body {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100lvh;
  display: flex;
  flex-direction: column;
  background-color: $color-background-almost-white;
}

body .nav-open {
  overflow: hidden;
}

#app {
  flex: 1 0 auto;
}