@use '../base' as *;

.btn {
  all: unset;
  display: inline-block;
  border-radius: 15px;
  padding: 2rem 3rem;
  text-align: center;
  font-family: Eina01-Regular, sans-serif;
  background-color: $color-dark-gray;
  color: $color-text-white;

  &:hover {
    cursor: pointer;
  }
}

.btn--admin {
  @extend .btn;
  background-color: $color-primary;

  a {
    @extend .main-text-semibold;
    color: $color-text-white;
    text-decoration: none;
  }
}

.btn--second {
  @extend .btn;
  @extend .main-text-semibold;

  background-color: $color-blue-background;
  color: $color-text-white;
}