@use '../base' as *;

$offset-margin: 4rem;
.cut-effect {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: ($offset-margin) * -1;

  &:first-child {
    position: relative;
    bottom: 20%;
  }
}

.card {
  border-radius: 15px;
  background-color: $color-background-contrast;
  padding: 2rem;

  &--main {
    background-color: $color-primary;
    padding: 4rem;
  }

  &--metadata {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $default-card-gap + 2rem;
  }

  &--company {
    margin: $offset-margin 0 0;

    .company-description * {
      color: $color-text-blue-secondary;
    }
  }

  &--main-organizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;

    .floating {
      width: 65%;
      margin-bottom: -6rem;
      border: $color-background-primary solid 1rem;
      border-radius: 50%;

      &:first-child {
        position: relative;
        bottom: 50%;
      }
    }

    .organizer-information * {
      color: $color-primary;
    }
  }

  &--assistant-organiser {
    display: flex;
    flex-direction: row;
    gap: $default-card-gap;

    .image-container-circle {
      .image {
        height: 100%;
      }
    }


    .assistant-organizer-information {
      .name {
        h3 {
          font-size: $text-size-large;
        }
      }

      * {
        color: $color-primary;

      }
    }
  }
}

.card--event {
  width: 100%;

  a {
    all: unset;

    &:hover {
      cursor: pointer;
    }
  }

  .event-wrapper {
    display: flex;
    flex-direction: column;

    * {
      background-color: $color-background-contrast-medium;
    }

    .event-popup {
      align-self: flex-end;
      padding: 0 3rem;
      margin-bottom: -2rem;
      z-index: 10;
      border-radius: 15px 15px 0 0;

      * {
        color: $color-text-white;
      }
    }

    .event-content {
      height: 14rem;
      flex-grow: 1;
      display: grid;
      grid-template-columns: 3fr 7fr;
      border-radius: 15px;
      border: $color-background-contrast-medium solid 1px;
      overflow: hidden;

      .company-image {
        background-color: $color-white !important;
        height: 100%;
        width: 100%;
        display: grid;
        place-content: center;
        padding: 1rem 0;

        img {
          background-color: inherit !important;
          box-sizing: border-box;
          margin: auto;
          height: initial;
          max-height: 7rem;
          width: 90%;
        }
      }

      .event-information {
        padding: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        * {
          color: $color-text-white;
        }

        h1 {
          font-size: $text-size-xlarge;
        }

        .metadata {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        }
      }
    }
  }
}