@use '../base' as *;

footer {
  background: $color-primary;
  color: $color-white;
  padding-bottom: 3rem;
  padding-top: 1rem;
  min-height: 100px;
  flex-shrink: 0;
  position: relative;
  margin-top: 2rem;

  .footer-container {
    max-width: 64rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }

  .footer-split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-information {
    h1, h2, h3 {
      font-size: $h3-size;
    }

  }

  .footer-link {
    align-self: flex-end;
  }

  .footer-link a {
    color: white;
    display: block;
    margin-bottom: 1em;
    font-size: $text-size;
  }
}
