@use "../base" as *;

.metadata {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $default-card-gap;
  align-items: center;

  .metadata-item {
    display: flex;
    align-items: center;
    color: $color-text-white;

    * {
      color: $color-text-white;
    }

    .icon {
      margin-right: 1rem;
    }
  }
}
