@inherits UmbracoViewPage<IfiNavet.Web.Core.Models.JobListings.JobListingsSearchResultModel>

@if (Model.Hits?.Any() == true)
{
    <div class="row">
        @foreach (IPublishedContent item in Model.Hits)
        {
            <div class="col-xs-12 col-sm-6 col-md-4">
                @{ await Html.RenderPartialAsync("Job/JobCard", item as JobListing); }
            </div>
        }
    </div>
}
else
{
    <p>@Umbraco.GetDictionaryValue("jobListingsNoResults")</p>
}