@mixin font($font-family, $font-file, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url($font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font('Eina01-Regular', '/assets/fonts/Eina01-Regular', regular, normal);
@include font('Eina01-SemiBold', '/assets/fonts/Eina01-SemiBold', semibold, normal);
@include font('Eina01-Bold', '/assets/fonts/Eina01-Bold', bold, normal);

$h1-font: 2.986rem;
$h2-font: 2.488rem;
$h3-font: 2.074rem;
$text-font: 1rem;


html {
  font-size: 1rem;
}

h1, .main-header {
  font-size: $h1-font;
  font-family: Eina01-Bold, sans-serif;
}

h2, .secondary-header {
  font-size: $h2-font;
  font-family: Eina01-SemiBold, sans-serif;
}

h3, .tertiary-header {
  font-size: $h3-font;
}

p, a, .main-text {
  font-size: $text-font;
  font-family: Eina01-Regular, sans-serif;
}

.secondary-text {
  font-size: 0.833rem;
  font-family: Eina01-regular, sans-serif;
}

.icon-large {
  font-size: 2.074rem;
}
