@{
    Layout = "_master.cshtml";
}

@section Head
{
    @await RenderSectionAsync("Head", false)
}

<div class="page--layout">
    <div class="page--container">
        @await RenderSectionAsync("Title", false)
        @if (!IsSectionDefined("Title"))
        {
            <div class="page--title">
                <h1>@(await RenderSectionAsync("titleText", false))</h1>
            </div>
        }
        @RenderBody()
    </div>
</div>

@section Scripts
{
    @await RenderSectionAsync("Scripts", false)
}
