@inherits UmbracoViewPage<Event>

@{
    Layout = "master.cshtml";
}

<h1>Hei!</h1>

<ul>
    @foreach (Attendee attendee in Model.Children<Attendee>()!)
    {
        <li>@attendee.Name: @attendee.Allergies - @attendee.MemberId</li>
    }
</ul>

<div id="reader" width="600px" height="500px"></div>

@section Scripts {
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/scanner.js")"></script>
}