@using Umbraco.Cms.Core.Models.Blocks
@using Wasabi.Services
@inherits UmbracoViewPage<Info>
@inject IImageService ImageService
@{
    Layout = "_pages.cshtml";
}

@section titleText
{
    @Model.Name
}

<div class="page--content">
    <div class="page--main">
        <div class="card-list">
            @await Html.GetBlockListHtmlAsync(Model.Main)
        </div>
    </div>
    <aside class="page--aside">
            @if (Model.ContactPerson != null)
            {
                StudentMember contactPerson = (StudentMember)Model.ContactPerson;
                <div class="card--organizer--main">
                    <div class="top-half">
                        <div class="cutout-effect">
                            <div class="image-container-circle">
                                <div class="image image--person">
                                    <img src="@ImageService.GetProfileImageUrl(contactPerson)" alt="@contactPerson.Name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="organizer-information bottom-half">
                        <div class="name">
                            <h3>Ansvarlig</h3>
                            <p> @contactPerson.Name </p>
                        </div>
                        <div class="btn-contact">
                            <a href="mailto:@contactPerson.GetProperty("Email")?.GetValue()">Kontakt</a>
                        </div>
                    </div>
                </div>
            }

            <div class="card-list">
                @await Html.GetBlockListHtmlAsync(Model.SidebarContent)
            </div>
    </aside>
</div>