@using Wasabi.ViewModels.Member
@{
    Layout = "_pages.cshtml";
}

@section titleText
{
    Logg inn
}

<div class="page--content--full center">
    @await Html.PartialAsync("Member/MemberLoginForm", new MemberLoginViewModel())
</div>