@using Umbraco.Cms.Core.Security
@using Wasabi.ViewModels.Member
@inject IMemberManager MemberManager;

@{
    Layout = "pages.cshtml";
}

@if (MemberManager.IsLoggedIn())
{
    <p>Du er allerede logget inn med en bruker</p>
    <p>
        <a href="/logout/">Log ut</a>
    </p>
}
else
{
    @await Html.PartialAsync("Member/MemberRegisterForm", new MemberRegisterViewModel())
}