@using Wasabi.ViewModels.Member
@{
    Layout = "pages.cshtml";
}
<h1>Reset Password</h1>

@if (!Context.Request.Query.ContainsKey("email"))
{
    @await Html.PartialAsync("Member/MemberRequestPasswordResetForm", new MemberRequestPasswordResetViewModel())
}
else
{
    @await Html.PartialAsync("Member/MemberPasswordResetForm", new MemberResetPasswordViewModel())
}

