@using Wasabi.ViewModels.Member
@{
    Layout = "_pages.cshtml";
}

@section titleText
{
    Glemt passord
}

<div class="page--content--full center">
    @if (!Context.Request.Query.ContainsKey("email"))
    {
        @await Html.PartialAsync("Member/MemberRequestPasswordResetForm", new MemberRequestPasswordResetViewModel())
    }
    else
    {
        @await Html.PartialAsync("Member/MemberPasswordResetForm", new MemberResetPasswordViewModel())
    }
</div>
