@{
    Layout = "_pages.cshtml";
}

@section titleText
{
    Validering
}

<div class="main-content-full center">
    @if ((bool)TempData["success"]!)
    {
        <a href="/login/">Logg inn</a>
    }
    else
    {
        <a href="/">Gå til forsiden</a>
    }
    <p>@TempData["status"]</p>
</div>