@use 'utilities/_utilities';
@use 'pages/_pages';
@use 'layouts/_layouts';
@use 'components/_components';
@use 'base/_base';
@use 'vendor/_vendor';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}